/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#cboxTitle, #cboxCurrent, #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow
#cboxCurrent{position:absolute; bottom: 25px; right:25px; font-weight:bold; color:#7C7C7C;}

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;} /*size of background (click-to-exit) */
#cboxContent{position:relative;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#aaa;} /* background color overlay */
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#fff;} /* what to show, while loading */
        #cboxLoadedContent{background:#fff; padding:1px;} /* what to show, background */
        #cboxLoadingOverlay{background:#fff;} /* what to show, while loading */
	